
<span class="badge">
  $<%= amount %>
</span>

<p>
  Paid on:
  <strong>
    <%= moment(payment_date).format("dddd, MMMM Do YYYY") %>
  </strong>
</p>

<i class="fa fa-credit-card"></i>
<%= payment_source.name %>

<span class="label label-primary">
  <%= payment_source.type.replace('Card', '') %>
</span>
