<%
  _.each(repeatIntervals, function(repeatInterval) {
%>
<option class='repeat-interval' value='<%= repeatInterval.id %>' data-interval='<%= repeatInterval.interval %>'>
<%= repeatInterval.label %>
</option>
<%
  });
%>
