
<span class="edit-payment-source close"><i class="fa fa-pencil-square-o"></i></span>

<i class="fa fa-credit-card"></i>
<%= name %>

<span class="label label-primary">
  <%= type.replace('Card', '') %>
</span>
