<span class="badge">
  $<%= parseFloat(amount).toFixed(2) %>
</span>

<div class="list-group-item-text">
  <i class="fa fa-<%- M.IconMap[category.name] %>"></i>
  <span><strong><%= name %></strong></span>
  <span class="small gray"><%= moment(next_due_date).format("MMMM Do YYYY") %></span>
</div>
