<%
  _.each(categories, function(category) {
%>
<option class='category' value='<%= category.id %>' data-category-name='<%= category.name %>' <%= (selectedId == category.id) ? 'selected' : '' %>>
<%= category.label %>
</option>
<%
  });
%>
